<script src="node_modules/chart.js/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

<div *ngIf="barChartData">

  <div class="topbar">
    <h4>Ethereum vs Bitcoin Price Movement</h4>
<div class="selector">
<select [(ngModel)]="charttype">
    <option value=1 >Price Chart</option>
    <option value=2 >Percentage change in price chart</option>
</select>

<i class="fa fa-check-circle" aria-hidden="true" (click)="barChartUpdate()"></i>
</div>
<div class="graph">

      <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [colors]="barChartColors"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>

    </div>
</div>
