<script src="node_modules/chart.js/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

    <div style="width: 50%" *ngIf="barChartData">

<h2>Ethereum and Bitcoin Movement</h2>
<select [(ngModel)]="charttype">
    <option value=1 >Price Chart</option>
    <option value=2 >Percentage change in price chart</option>
</select>
<button (click)="barChartUpdate()">Apply</button>


      <canvas baseChart
              [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
