<div *ngIf="difference">
<div class="topbar">
<h4>Last hour analytics</h4>
</div>
<div class="graph">
  <div class="littlebox">
<h2 class="number">{{google}}<span class="color">%</span></h2>
<p class="info"> % change in google search volume</p>
  </div>
  <div class="littlebox">
<h2 class="number">{{ethereum}}<span class="color">%</span></h2>
<p class="info"> % change in the volume of ethereum transactions</p>
  </div>
  <div class="littlebox">
<h2 class="number">{{difference}}<span class="color">%</span></h2>
<p class="info">Spread between real time speculation and transactions</p>
  </div>
  <div class="littlebox">
<h2 class="number">{{sentiment}}<span class="color">bsp</span></h2>
<p class="info">Spread between 'buy oriented' and 'sell orienetd' search sentiment</p>
</div>
</div>
</div>
